<maven2-moduleset plugin="maven-plugin@1.480.2.4">
<actions/>
<description>
Cloud Foundry/Spring Source springmvc-hibernate sample application (https://github.com/cloudfoundry-samples/springmvc-hibernate-template)
</description>
<logRotator>
<daysToKeep>60</daysToKeep>
<numToKeep>-1</numToKeep>
<artifactDaysToKeep>-1</artifactDaysToKeep>
<artifactNumToKeep>20</artifactNumToKeep>
</logRotator>
<keepDependencies>false</keepDependencies>
<properties>
<nectar.plugins.rbac.groups.JobProxyGroupContainer plugin="nectar-rbac@3.4">
<groups/>
</nectar.plugins.rbac.groups.JobProxyGroupContainer>
<com.cloudbees.jenkins.plugins.PublicKey plugin="cloudbees-public-key@1.1"/>
</properties>
<scm class="hudson.plugins.git.GitSCM">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name></name>
        <refspec></refspec>
        <url>${repositoryUrl}</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>**</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <disableSubmodules>false</disableSubmodules>
    <recursiveSubmodules>false</recursiveSubmodules>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <authorOrCommitter>false</authorOrCommitter>
    <clean>false</clean>
    <wipeOutWorkspace>false</wipeOutWorkspace>
    <pruneBranches>false</pruneBranches>
    <remotePoll>false</remotePoll>
    <ignoreNotifyCommit>false</ignoreNotifyCommit>
    <useShallowClone>false</useShallowClone>
    <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
    <gitTool>Default</gitTool>
    <submoduleCfg class="list"/>
    <relativeTargetDir></relativeTargetDir>
    <reference></reference>
    <excludedRegions></excludedRegions>
    <excludedUsers></excludedUsers>
    <gitConfigName></gitConfigName>
    <gitConfigEmail></gitConfigEmail>
    <skipTag>false</skipTag>
    <includedRegions></includedRegions>
    <scmName></scmName>
  </scm>
<canRoam>true</canRoam>
<disabled>false</disabled>
<blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
<blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
<jdk>(Default)</jdk>
<triggers class="vector">
<com.cloudbees.jenkins.forge.ForgePushTrigger plugin="cloudbees-forge-plugin@1.1">
<spec/>
</com.cloudbees.jenkins.forge.ForgePushTrigger>
</triggers>
<concurrentBuild>false</concurrentBuild>
<rootModule>
<groupId>org.cloudfoundry.templates</groupId>
<artifactId>springmvc31</artifactId>
</rootModule>
<aggregatorStyleBuild>true</aggregatorStyleBuild>
<incrementalBuild>false</incrementalBuild>
<perModuleEmail>true</perModuleEmail>
<ignoreUpstremChanges>false</ignoreUpstremChanges>
<archivingDisabled>false</archivingDisabled>
<resolveDependencies>false</resolveDependencies>
<processPlugins>false</processPlugins>
<mavenValidationLevel>-1</mavenValidationLevel>
<runHeadless>false</runHeadless>
<settingConfigId/>
<globalSettingConfigId/>
<reporters/>
<publishers/>
<buildWrappers/>
<prebuilders>
<hudson.tasks.Shell>
<command>
#Create CLOUDBEES_ACCOUNT.properties with account name for Cloud Foundry Deployment Hostname 
#This will be injected into the build and can be used to specify a globally-unique name for deployment to cloudfoundry.com 
echo -n CLOUDBEES_ACCOUNT= > CLOUDBEES_ACCOUNT.properties 
echo `echo $JENKINS_URL | awk -F'.' '{print $1}' | sed 's/https:\/\///g'` >> CLOUDBEES_ACCOUNT.properties
</command>
</hudson.tasks.Shell>
<EnvInjectBuilder plugin="envinject@1.80">
<info>
<propertiesFilePath>CLOUDBEES_ACCOUNT.properties</propertiesFilePath>
</info>
</EnvInjectBuilder>
</prebuilders>
<postbuilders/>
<runPostStepsIfResult>
<name>FAILURE</name>
<ordinal>2</ordinal>
<color>RED</color>
</runPostStepsIfResult>
</maven2-moduleset>
